*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(235, 225, 225);
}

footer{ 
    left: 0;
    bottom: 0;
    background-color: #111;
    padding-top: 10px;

}


.socialIcons{
    display: flex;
    justify-content: right;
    align-self: flex-end;

}

.footerText{
    display: flex;
    justify-content: right;
    color: white;
    font-size: 20px;
    align-items: center;
    margin-right: 110px;
}

.socialIcons a{
    text-decoration: none;
    padding: 2px;
    margin-top: 20px;
    margin-inline: 20px;
    border-radius: 40%;
}

.socialIcons a i{
    font-size: 1.5em;
    color: white;
    opacity: 0.9;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerBottom{
    background-color: black;
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration:none;
}

header{
    display: flex;
    position: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 10%;
    width: 100%;
    background-color: black;
}

.logo{
    cursor: pointer;
    color: #00FFE0;
    font-weight: 800;
    font-size: 24px;
}
 .p{
	 position:flex;
	 top:50px;
 }
 
.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 30px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

.container {
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

h2{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.block {
    display: inline-block;
    width: calc(50% - 5px);
    height: 250px;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    margin-right: 10px; 
    margin-bottom: 10px;
    box-sizing: border-box;
}
.block:last-child {
    margin-right: 0; 
}